<div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
  <div class="panel panel-default" ng-repeat="panel in panels">
    <div class="panel-heading" role="tab">
      <h4 class="panel-title">
        <a bs-collapse-toggle>
          {{ panel.title }}
        </a>
      </h4>
    </div>
    <div class="panel-collapse" role="tabpanel" bs-collapse-target>
      <div class="panel-body">
        {{ panel.body }}
      </div>
    </div>
  </div>
</div>