<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ 'team.roster.newRoster' | translate }}</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'pages/team/roster.html?v=5'" data-onload="modal = true"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{ 'general.close' | translate | capitalize }}</button>
        <button ng-disabled="rosterToEditDisabled" type="button" class="btn btn-primary btn-ultical" ng-click="saveRoster()">{{ 'general.save' | translate }}</button>
      </div>
    </div>
  </div>
</div>
