<div class="col-md-offset-1 col-md-3">
  <div class="action-bar ani-vslide">

    <!-- HEAD about login -->
    <div ng-if="head.loggedIn()">
      {{ 'actionBar.head.loggedInAs' | translate : { userName: head.getUser().fullName } }}
    </div>
    <div ng-if="!head.loggedIn()">
      {{ 'actionBar.head.notLoggedIn' | translate }}
    </div>

    <!-- actions  unique : 'id' | -->
    <div class="margin-bottom-small action-group" ng-repeat="actionGroup in actions | groupBy : 'group'">
      <div ng-repeat="action in actionGroup"  ng-if="action.show(head.loggedIn())">
        <div ng-if="action.separator" class="horizontal-separator"></div>

        <div ng-if="action.text">
          {{ action.text | translate }}
        </div>

        <div class="btn btn-primary btn-ultical" ng-if="action.button" ng-click="action.button.click()">
          {{ action.button.text | translate }}
        </div>

      </div>
    </div>

  </div>
</div>
