<div ng-controller="EventEditCtrl">

	<div class="row margin-bottom">
		<div class="col-md-12">
			<span ng-if="format.x.own">{{ 'event.youAreFormatAdmin' | translate }}</span>
			<span ng-if="event.x.own && !format.x.own">{{ 'event.youAreEventAdmin' | translate }}</span>
		</div>
	</div>

	<div ng-if="loaded">
		<!-- Tournament Format - create: choose existing or create new / edit: show -->
		<div class="row margin-bottom">
			<div class="col-md-12">
				<h3>{{ 'general.tournamentFormat' | translate }}</h3>
			</div>
		</div>

		<div ng-if="!formatChosen">
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.chooseFormat' | translate }}</span>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-default" ng-model="action.formatIdChosen"
							data-multiple="0" data-animation="am-flip-x" data-max-length="1"
							ng-change="chooseFormat()"
							bs-options="format.id as format.name + ' - ' + format.association.acronym for format in formatList"
							bs-select>
				</div>
			</div>
		</div>
		<div ng-if="formatChosen">

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.nameLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ format.name }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.formatDescriptionLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ format.description }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.formatUrlLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ format.url }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.associationLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ format.association.acronym }} - {{ format.association.name }}</span>
				</div>
			</div>
		</div>

		<!-- Tournament Edition - create: choose existing or create new / edit: show -->
		<div ng-if="formatChosen">
			<div class="row margin-bottom">
				<div class="col-md-12">
					<h3>{{ 'general.tournamentEdition' | translate }}</h3>
				</div>
			</div>
		</div>

		<div ng-if="formatChosen && !editionChosen">
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.chooseEdition' | translate }}</span>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-default" ng-model="action.editionIdChosen"
							data-multiple="0" data-animation="am-flip-x" data-max-length="1"
							ng-change="chooseEdition()"
							bs-options="edition.id as (edition.season | season : true) + ' - ' + edition.name for edition in editionList"
							bs-select></button>
				</div>
			</div>
		</div>

		<div ng-if="editionChosen">
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.nameLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ edition.name }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'season.season' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ edition.season | season : true}}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.organizer' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ edition.organizer | contact }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.registrationPeriodLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ edition.registrationStart | amDateFormat : ('general.amDateFormat' | translate) }} - {{ edition.registrationEnd | amDateFormat : ('general.amDateFormat' | translate) }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.alternativeMatchdayNameLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ event | matchdayname }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.contextLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ edition.context.acronym }} - {{ edition.context.name }}</span>
				</div>
			</div>

			<!-- division-registration/confirmation - edit (only TF admin) -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.divisionRegistrationLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<div ng-repeat="division in edition.divisionRegistrations | orderBy : divisionOrder">
						<span>{{ division | division }}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- event -->
		<div ng-if="formatChosen && editionChosen">
			<div class="row margin-bottom">
				<div class="col-md-12">
					<h3>{{ 'general.event' | translate }}</h3>
				</div>
			</div>

			<!-- Title - edit (only TF admin) -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.nameLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span ng-if="!format.x.own">{{ event.name }}</span>
					<span ng-if="format.x.own"><input ng-model="event.name" class="form-control"></span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.matchdayLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<div ng-if="format.x.own">
						<select id="slim-edit-2" class="form-control short" class="form-control" ng-model="event.matchdayNumber">
							<option value="-1">{{ 'event.singleEvent' | translate }}</option>
							<option ng-repeat="i in [] | range : 14" value="{{ i + 1}}">{{ i + 1}}. {{ event | matchdayname }}</option>
						</select>
					</div>
					<span ng-if="!format.x.own && event.matchdayNumber != -1">{{ event.matchdayNumber }} {{ event | matchdayname }}</span>
					<span ng-if="!format.x.own && event.matchdayNumber == -1">{{ 'event.singleEvent' | translate }}</span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.eventDisplayName' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span>{{ event | eventname }}</span>
				</div>
			</div>

			<!-- Date - edit (only TF admin) -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.eventDateLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span ng-if="!format.x.own">{{ event.startDate | amDateFormat : ('general.amDateFormat' | translate) }}</span>
					<span ng-if="format.x.own"><input ng-model="event.startDate" class="form-control short" data-date-type="string" data-model-date-format="yyyy-MM-dd" data-date-format="dd.MM.yyyy" data-autoclose="1" bs-datepicker></span>
				</div>
			</div>

			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.numberOfDaysLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<span ng-if="!format.x.own">{{ event.x.eventNumOfDays }}</span>
					<div ng-if="format.x.own">
						<select id="slim-edit-1" class="form-control short" class="form-control" ng-model="event.x.eventNumOfDays">
							<option ng-repeat="i in [] | range : 14" value="{{ i + 1 }}">{{ i + 1 }}</option>
						</select>
					</div>
				</div>
			</div>

			<!-- location - edit -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.locationLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<div class="form-group has-feedback" ng-class="{'has-error': (inputForm.location.$touched && (action.locationToEdit.city | isEmpty)) || locationIsMissing}">

					<input class="form-control" typeahead-min-length="3" typeahead-wait-ms="400" name="location" required="required" type="text" id="tteCity" class="form-control" ng-model="action.locationToEdit" typeahead-select-on-blur="true" typeahead-select-on-exact="true"
							   uib-typeahead="location | locationObject as location | location for location in getLocations($viewValue)" typeahead-wait-ms="300" placeholder="{{ 'event.edit.locationLabel' | translate }}" />
						<span ng-show="action.locationToEdit.city != null" class="glyphicon glyphicon-ok form-control-feedback"></span>
						<span ng-if="(inputForm.location.$touched && (action.locationToEdit.city | isEmpty)) || locationIsMissing" class="ani-fade ani-vslide ani-short help-block">{{ 'event.edit.locationMissing' | translate }}</span>
					</div>
					<div>
		<!--					<div ng-repeat="location in event.locations | orderBy : ['-main', 'title']">-->
						<div ng-class="{'strong': action.locationToEdit.main }" ng-if="action.locationToEdit.title | notEmpty">
							<span>{{ action.locationToEdit.title }}</span>
						</div>
						<div ng-class="{'strong': action.locationToEdit.main }" ng-if="action.locationToEdit.street | notEmpty">
							<span>{{ action.locationToEdit.street }}</span>
						</div>
						<div ng-class="{'strong': action.locationToEdit.main }" ng-if="(action.locationToEdit.zipCode | notEmpty) || (action.locationToEdit.city | notEmpty)">
							<span ng-show="action.locationToEdit.zipCode | notEmpty">{{ action.locationToEdit.zipCode }}</span>
							<span ng-show="action.locationToEdit.city | notEmpty">{{ action.locationToEdit.city }}</span>
						</div>
						<div ng-class="{'strong': action.locationToEdit.main }" ng-if="action.locationToEdit.country | notEmpty">{{ action.locationToEdit | countryname }}</div>

						<div ng-if="action.locationToEdit.additionalInfo | notEmpty" class="margin-top-small">{{ action.locationToEdit.additionalInfo }}</div>
						<div ng-if="!$last" class="margin-bottom"></div>
					</div>
				</div>
			</div>

			<!-- division-confirmation - edit (only TF admin) -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.divisionRegistrationLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<button ng-if="format.x.own" type="button" class="btn btn-default" ng-model="event.x.divisionIds"
							data-multiple="1" data-animation="am-flip-x" data-max-length="16" data-order="divisionOrder"
							bs-options="division.id as division | division : 'full' for division in edition.divisionRegistrations" bs-select></button>
					<div ng-if="!format.x.own" ng-repeat="division in edition.divisionRegistrations | orderBy : divisionOrder">
						<span>{{ division | division }}</span>
					</div>
				</div>
			</div>

			<!-- event-admin - edit -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.edit.adminLabel' | translate }}</span>
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-12">
							<div class="input-group input-group-colored col-md-6">
								<span ng-click="addAdmin(newAdmin)" class="cursor-pointer input-group-addon">
									<span class="glyphicon glyphicon-plus"></span>
								</span>
								<input typeahead-min-length="3" type="text" id="tteAdmins" class="form-control"
								   ng-model="newAdmin.obj" typeahead-select-on-blur="true" typeahead-wait-ms="400"
								   uib-typeahead="user as user.fullName for user in getUsers($viewValue)"
								   placeholder="{{ 'team.edit.adminsPlaceholder' | translate }}"
								   typeahead-on-select="addAdmin($item)" />
							</div>
						</div>
					</div>
					<div class="row margin-top">
						<div class="col-md-12">
							<div class="form-control-static">
								<div class="editable-list" ng-repeat="admin in event.admins">
									<div class="editable-list-item" ng-class="{'no-remove': (admin.id == activeUserId && event.id == -1) || (event.admins.length < 2) }">{{ admin.dfvPlayer != null ? admin.dfvPlayer.firstName + ' ' + admin.dfvPlayer.lastName : admin.email }}</div>
									<div ng-hide="(admin.id == activeUserId && event.id == -1) || (event.admins.length < 2)" ng-click="removeAdmin(admin.id)" class="ffade editable-list-remove cursor-pointer" data-title="{{ 'team.edit.adminsRemoveTooltip' | translate }}" bs-tooltip>
										<span class="fa-stack fa-lg">
											<i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-times fa-stack-1x fa-inverse"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- local organizer - edit -->
			<div class="row margin-bottom">
				<div class="col-md-2">
					<span class="strong ">{{ 'event.localOrganizer' | translate }}</span>
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="event.localOrganizer.name" placeholder="{{ 'event.edit.localOrganizerNameLabel' | translate }}">
				</div>
				<div class="col-md-4">
					<input class="form-control" ng-model="event.localOrganizer.email" placeholder="{{ 'event.edit.localOrganizerEmailLabel' | translate }}">
				</div>
				<div class="col-md-2">
					<input class="form-control" ng-model="event.localOrganizer.phone" placeholder="{{ 'event.edit.localOrganizerPhoneLabel' | translate }}">
				</div>
			</div>

			<!-- description - edit -->
			<div class="row margin-bottom">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<span class="strong ">{{ 'event.edit.descriptionLabel' | translate }}</span>
						</div>
						<div class="col-md-10">
							<span ng-if="!event.x.own && !format.x.own">{{ event.info }}</span>
							<span ng-if="event.x.own || format.x.own"><textarea rows="5" class="resizable form-control" ng-model="event.info"></textarea></span>
						</div>
					</div>
				</div>
			</div>

			<!--&lt;!&ndash; fees - edit &ndash;&gt;
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<span class="strong">{{ 'event.fee.label' | translate }}</span>
						</div>
						<div class="col-md-10">
							<table>
								<tbody ng-repeat="fee in event.fees | filter : { tournamentEdition: null}">
									<tr>
										<td class="padding-right">
											<span ng-if="fee.multiple">{{ 'event.fee.perUnit' | translate }}</span>
											<span ng-if="fee.type != 'OTHER'">{{ ('event.fee.' + (fee.type | lowercase)) | translate }}</span>
											<span ng-if="fee.type == 'OTHER'">{{ fee.otherName }}</span>
										</td>
										<td class="pull-right padding-right-small">{{ fee.currency | money : fee.amount }}</td>
										<td class="mega-wide" ng-if="fee.perPerson">{{ 'event.fee.perPerson' | translate }}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			&lt;!&ndash; attachments - edit &ndash;&gt;
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
							<span class="strong">{{ 'event.edit.attachmentLabel' | translate }}</span>
						</div>
						<div class="col-md-10">
							<span>{{ event.attachments }}</span>
						</div>
					</div>
				</div>
			</div>
		-->
			<div class="row">
				<div class="col-md-12" id="event-edit-error"></div>
			</div>

			<div class="row margin-top" ng-if="format.x.own || event.x.own">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
						</div>
						<div class="col-md-10">
							<button ng-click="saveEvent(event)" class="btn btn-primary btn-ultical">{{ 'event.edit.save' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
