<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" aria-label="Close" ng-click="$hide()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{ 'event.email.title' | translate }}</h4>
			</div>
			<div class="modal-body">
				<div ng-include="'pages/event/email_teams.html?v=4'" data-onload="modal = true"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">{{ 'general.close' | translate | capitalize }}</button>
				<button ng-disabled="emailSendDisabled" type="button" class="btn btn-primary btn-ultical" ng-click="sendEmail()">{{ 'email.sendButtonLabel' | translate }}</button>
			</div>
		</div>
	</div>
</div>
