<div id="event-list" ng-controller="EventListCtrl" ng-init="dateAlreadyShown=(events[0].startDate | amDateFormat : 'YYYY-MM')">

	<div class="row">
		<div class="col-md-12">
			<h3 class="page-title">{{ 'event.list.title' | translate }}</h3>
		</div>
	</div>

	<div class="row margin-top event-list">
		<div class="col-md-9">

			<div ng-if="0" class="row" ng-repeat-start="event in (orderedEvents = (events | orderBy : sortKey : sortOrderDesc))"></div>

			<!-- year -->
			<div class="row" ng-if="(sortKey == 'startDate') && ($index == 0 || (((event.startDate | amDateFormat : 'YYYY-MM') != (orderedEvents[$index - 1].startDate | amDateFormat : 'YYYY-MM')) && (event.startDate | amDateFormat : 'M') == '1' ))">
				<div class="col-md-9">
					<h4>{{ event.startDate | amDateFormat : 'YYYY' }}</h4>
				</div>
			</div>

			<!-- month -->
			<div class="row" ng-if="sortKey == 'startDate' && ($index == 0 || ((event.startDate | amDateFormat : 'YYYY-MM') != (orderedEvents[$index - 1].startDate | amDateFormat : 'YYYY-MM')))">
				<div class="col-md-9">
					<h5>{{ event.startDate | amDateFormat : 'MMMM' }}</h5>
				</div>
			</div>

			<!-- event -->
			<div ng-repeat-end class="row">
					<a ng-href="{{ getEventUrl(event) }}">
				<div class="col-md-7 event-list-row">
						<div class="event-list-date event-list-date-left">{{ event.startDate | amDateFormat : 'D' }}</div>
						<div class="event-list-date event-list-date-dash">-</div>
						<div class="event-list-date event-list-date-right">{{ event.endDate | amDateFormat : 'D' }}</div>
						<!-- <span ng-if="(event.startDate | amDateFormat : 'M') != (event.endDate | amDateFormat : 'M')">&nbsp;{{ event.endDate | amDateFormat : 'MMM' }}</span> -->

						<div class="event-list-text">
							<div class="event-list-text-top">{{ event | eventname }}</div>
							<div class="event-list-text-bottom">
								<span class="margin-right-small" ng-if="event.x.divisions | notEmpty">
									<!-- 								<i class="fa fa-venus-mars"></i> -->
									<bas ng-repeat="division in event.x.divisions">{{ division | division }}<bas ng-if="!$last">, </bas></bas>
								</span>
								<span class="margin-right" ng-if="event.location | notEmpty">
									<i class="fa fa-map-marker"></i> {{ event.location | location : 'city' }}
								</span>
								&nbsp;
							</div>
						</div>
				</div>
					</a>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12"></div>
	</div>

</div>