<div id="event-list" ng-controller="EventListCtrl" ng-init="dateAlreadyShown=(events[0].startDate | amDateFormat : 'YYYY-MM')">

	<div class="row">

		<bas-action-bar></bas-action-bar>

		<div class="col-lg-8 col-lg-pull-4 col-sm-9 col-sm-pull-3 col-xs-12">

			<div class="row">
				<div class="col-md-12">
					<h3 class="page-title">{{ 'event.list.title' | translate }}</h3>
				</div>
			</div>

			<div class="row margin-top event-list">
				<div class="col-md-12">


			<div ng-if="0" class="row" ng-repeat-start="event in (orderedEvents = (events | filter : eventFilter | orderBy : sortKey : sortOrderDesc))"></div>

			<!-- year -->
			<div class="row" ng-class="{'margin-top-big' : $index != 0}" ng-if="$index == 0 || (((event.startDate | amDateFormat : 'YYYY') != (orderedEvents[$index - 1].startDate | amDateFormat : 'YYYY')))">
				<div class="col-md-9">
					<h4>{{ event.startDate | amDateFormat : 'YYYY' }}</h4>
				</div>
			</div>

			<!-- collapsed months -->
			<div class="row" ng-if="!show.beginningOfYear && $index == 0">

			 <!-- || ((event.startDate | amDateFormat : 'YYYY') == (current.thisYear)))"> -->
				<div class="col-md-9">
					<h5><a href="#" ng-click="show.beginningOfYear = true">{{ current.january | amDateFormat : 'MMMM' }}<span ng-if="(current.lastMonth | amDateFormat : 'M') != 1"> - {{ current.lastMonth | amDateFormat : 'MMMM' }}</span></a></h5>
				</div>
			</div>

			<!-- month -->
			<div class="row" ng-if="true && ($index == 0 || ((event.startDate | amDateFormat : 'YYYY-MM') != (orderedEvents[$index - 1].startDate | amDateFormat : 'YYYY-MM')))">
				<div class="col-md-9">
					<h5>{{ event.startDate | amDateFormat : 'MMMM' }}</h5>
				</div>
			</div>

			<!-- event -->
			<div ng-repeat-end class="row">
					<a ui-sref="app.eventShow({eventId: event.id, eventSlug: ((event | eventname) | slugify) })">
				<div class="col-md-9 col-sm-11 col-xs-12 event-list-row" ng-init="showDate = orderedEvents[$index - 1].startDate != event.startDate || orderedEvents[$index - 1].endDate != event.endDate">
						<div class="event-list-date event-list-date-left">{{ showDate ? (event.startDate | amDateFormat : 'D') : '' }}</div>
						<div class="event-list-date event-list-date-dash"><span ng-if="event.startDate != event.endDate">{{ showDate ? '-' : '' }}</span></div>
						<div class="event-list-date event-list-date-right"><span ng-if="event.startDate != event.endDate">{{ showDate ? (event.endDate | amDateFormat : 'D') :'' }}</span></div>
						<!-- <span ng-if="(event.startDate | amDateFormat : 'M') != (event.endDate | amDateFormat : 'M')">&nbsp;{{ event.endDate | amDateFormat : 'MMM' }}</span> -->

						<div class="event-list-text">
							<div class="event-list-text-top">{{ event | eventname }}</div>
							<div class="event-list-text-bottom">
								<span class="margin-right-small" ng-if="event.x.divisions | notEmpty">{{ event.x.divisions | divisions : 'basic' }}</span>
									<!-- 								<i class="fa fa-venus-mars"></i> -->
								<span class="margin-right" ng-if="event.x.mainLocation | notEmpty"><i class="fa fa-map-marker"></i> {{ event.x.mainLocation | location : 'city' }}</span>
							</div>
						</div>
				</div>
					</a>
			</div>

		</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12"></div>
	</div>

</div>
