<div id="start" ng-controller="EventShowCtrl">

	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "SportsEvent",
		"name": "{{ event | eventname }}",
		"startDate" : "{{ event.startDate }}",
		"endDate": "{{ event.endDate }}",
		"url" : "http://example.com/tourdates.html",
		"location" : {
			"@type": "PostalAddress",
			"addressCountry": "{{ event.location.countryCode }}",
			"addressLocality": "{{ event.location.city }}",
			"postalCode": "{{ event.location.zipCode }}",
			"streetAddress": "{{ event.location.street }}",
		},
		"description": "{{ event.tournamentEdition.tournamentFormat.description }}",
		"organizer": {
			"@type": "Organization",
			"name": "{{ event.tournamentEdition.tournamentFormat.association.name }}"
		}
	}
	</script>

	<div ng-class="{'hidden-print': printing}" ng-show="event | notEmpty">

		<div class="row">
			<div class="col-md-7">

		<div class="row">
			<div class="col-md-12">
				<h3 class="page-title">{{ event | eventname : 'full' }}</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 page-sub-title">
				{{ event.startDate | amDateFormat : ('general.amDateFromSameMonth' | translate) }} - {{ event.endDate | amDateFormat : ('general.amDateToFull' | translate) }}<br />
			</div>
			<div class="col-md-4 text-right page-sub-title">{{ 'season.season' | translate }}: {{ event.tournamentEdition.season | season : true}}</div>
		</div>

		<!-- LOCATION -->
		<div class="row">
			<div class="col-md-12 page-sub-title">
				<div ng-if="false == (event.locations | emptyLocation)">
					<span>{{ event.locations | location : 'city' }}</span>
					<span class="margin-left-small cursor-pointer" ng-click="toggleLocationPanel()">
						<i ng-if="panels.activeLocationPanel != 0" class="fa fa-caret-down"></i><i ng-if="panels.activeLocationPanel == 0" class="fa fa-caret-up"></i>
					</span>
				</div>
				<!-- TODO add options to look for an organizer -->
			</div>
		</div>

		<!-- the more specific location information when uncollapsed -->
		<div class="location-panel" ng-model="panels.activeLocationPanel" role="tablist" aria-multiselectable="true" bs-collapse>
			<div class="panel-collapse" role="tabpanel" bs-collapse-target>
				<div class="panel-body">
					<div ng-repeat="location in event.locations | orderBy : ['-main', 'title']">
						<div ng-class="{'strong': location.main }" ng-if="location.title | notEmpty">
							<i class="fa fa-map-marker"></i>
							<span>{{ location.title }}</span>
						</div>
						<div ng-class="{'strong': location.main }" ng-if="location.street | notEmpty">
							<i ng-if="location.title | isEmpty" class="fa fa-map-marker"></i> {{ location.street }}
						</div>
						<div ng-class="{'strong': location.main }" ng-if="(location.zipCode | notEmpty) || (location.city | notEmpty)">
							<i ng-if="(location.title | isEmpty) && (location.street | isEmpty)" class="fa fa-map-marker"></i>
							<span ng-show="location.zipCode | notEmpty">{{ location.zipCode }}</span>
							<span ng-show="location.city | notEmpty">{{ location.city }}</span>
						</div>
						<div ng-class="{'strong': location.main }" ng-if="location.country | notEmpty">{{ location | countryname }}</div>
						<div class="small">
							<a href="{{ location | location : 'googleMapsUrl' }}" target="_blank">
								<i class="fa fa-map-o"></i> {{ 'event.linkToMaps' | translate }}
							</a>
						</div>
						<div ng-if="location.additionalInfo | notEmpty" class="margin-top-small">{{ location.additionalInfo }}</div>
						<div ng-if="!$last" class="margin-bottom"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- ORGANIZER -->
		<div class="row margin-top">
			<div class="col-md-12">
				<div class="strong">{{ 'event.organizer' | translate }}</div>
				<div ng-if="event.tournamentEdition.tournamentFormat.association | notEmpty">{{ event.tournamentEdition.tournamentFormat.association.name }}</div>
				<div>
					{{ event.tournamentEdition.organizer.name }}&nbsp;&nbsp;
					<a ng-href="mailto:{{ event.tournamentEdition.organizer.email }}">
						<span ng-if="event.tournamentEdition.organizer.email | notEmpty">
							<i class="fa fa-envelope-o"></i>&nbsp;{{ event.tournamentEdition.organizer.email }}
						</span>
					</a>
					<span ng-if="event.tournamentEdition.organizer.phone | notEmpty">
						&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;{{ event.tournamentEdition.organizer.phone }}
					</span>
				</div>
			</div>
		</div>

		<div class="row margin-top" ng-if="event.x.hasLocalOrganizer">
			<div class="col-md-12">
				<div class="strong">{{ 'event.localOrganizer' | translate }}</div>
				<div>
					<span>{{ event.localOrganizer.name }}&nbsp;&nbsp;</span>
					<a ng-href="mailto:{{ event.localOrganizer.email }}" ng-if="event.localOrganizer.email | notEmpty">
						<i class="fa fa-envelope-o"></i>
						<span>&nbsp;{{ event.localOrganizer.email }}</span>
					</a>
					<span ng-if="event.localOrganizer.phone | notEmpty">
						&nbsp;&nbsp;<i class="fa fa-phone"></i>&nbsp;{{ event.localOrganizer.phone }}
					</span>
				</div>
			</div>
		</div>

		<!-- FORMAT DESCRIPTION-->
		<div class="row margin-top" ng-if="(event.tournamentEdition.tournamentFormat.description | notEmpty) && event.x.isSingleEvent">
			<div class="col-md-12">
				<div class="info-text user-textarea">{{ event.tournamentEdition.tournamentFormat.description }}</div>
			</div>
		</div>

		<!-- INFO -->
		<div class="row" ng-class="{'margin-top': (event.tournamentEdition.tournamentFormat.description | isEmpty) && !event.x.isSingleEvent}" ng-if="event.info | notEmpty">
			<div class="col-md-12">
				<div class="info-text user-textarea" ng-class="{'padding-top': (event.tournamentEdition.tournamentFormat.description | notEmpty) && event.x.isSingleEvent}">{{ event.info }}</div>
			</div>
		</div>

		<!-- URL -->
		<div class="row" ng-class="{'margin-top': (event.info | isEmpty) && (event.tournamentEdition.tournamentFormat.description | isEmpty) && !event.x.isSingleEvent}" ng-if="event.tournamentEdition.tournamentFormat.url | notEmpty">
			<div class="col-md-12">
				<div class="info-text" ng-class="{'padding-top': (event.info | notEmpty) || (event.tournamentEdition.tournamentFormat.description | notEmpty) && event.x.isSingleEvent}">
					<i class="fa fa-link fa-fw"></i>
					<a target="_blank" ng-href="{{ event.tournamentEdition.tournamentFormat.url | url }}">{{ event.tournamentEdition.tournamentFormat.url }}</a>
				</div>
			</div>
		</div>

		<!-- FEES -->
		<div class="row margin-top" ng-if="event.x.hasFees">
			<div class="col-md-12">
				<div class="strong">{{ 'event.fee.label' | translate }}</div>

				<table>
					<tbody ng-repeat="fee in getAllFees() | orderBy : 'x.order'">
						<tr ng-if="$index == 0 && fee.x.fromEdition">
							<td colspan="4">{{ 'event.fee.editionLabel' | translate }}&nbsp;{{ event.tournamentEdition | editionname }}:</td>
						</tr>
						<tr ng-if="editionFeeEndIndex == $index && $index > 0">
							<td colspan="4" class="margin-top-small">{{ 'event.fee.matchdayLabel' | translate }}:</td>
						</tr>
						<tr>
							<td ng-if="editionFeeEndIndex > 0" class="padding-right">&nbsp;</td>
							<td class="padding-right">
								<span ng-if="fee.multiple">{{ 'event.fee.perUnit' | translate }}</span>
								<span ng-if="fee.type != 'OTHER'">{{ ('event.fee.' + (fee.type | lowercase)) | translate }}</span>
								<span ng-if="fee.type == 'OTHER'">{{ fee.otherName }}</span>
							</td>
							<td class="pull-right padding-right-small">{{ fee.currency | money : fee.amount }}</td>
							<td class="mega-wide" ng-if="fee.perPerson">{{ 'event.fee.perPerson' | translate }}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

		<!-- REGISTRATION INFO -->
		<div class="row margin-top" ng-if="event.tournamentEdition.x.registrationTime != 'never' && event.x.timing == 'future'">
			<div class="col-md-12">
				<div class="strong">{{ 'event.registration' | translate }}</div>

				<div ng-if="event.tournamentEdition.x.registrationIsOpen">
					<!-- Registration is going on right now -->
					<div class="row">
						<div class="col-md-12">
							<span>{{ 'event.registrationEndsAt' | translate }} {{ event.tournamentEdition.registrationEnd | amDateFormat : ('general.amDateFormatShort' | translate) }}</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div ng-if="loggedIn()" class="btn btn-primary btn-ultical margin-top-small" data-animation="am-fade-and-slide-top" data-template-url="pages/event/registration_modal.html?v=14" bs-modal="modal">{{ 'event.register.title' | translate }}</div>
							<span ng-if="!loggedIn()">{{ 'event.register.notLoggedIn' | translate }}</span>
						</div>
					</div>
				</div>
				<div ng-if="!event.tournamentEdition.x.registrationIsOpen">
					<!-- Registration is not open - why? -->
					<div ng-if="event.tournamentEdition.x.registrationTime == 'future'">{{ 'event.registration' | translate }} {{ 'event.registrationStartsAt' | translate }} {{ event.tournamentEdition.registrationStart | amDateFormat : ('general.amDateFormat' | translate) }}</div>
					<div ng-if="event.tournamentEdition.x.registrationTime == 'past'">{{ 'event.registration' | translate }} {{ 'event.registrationIsOverSince' | translate }} {{ event.tournamentEdition.registrationEnd | amDateFormat : ('general.amDateFormat' | translate) }}</div>
					<div ng-if="event.tournamentEdition.x.registrationTime == 'never' && event.x.timing == 'future'">{{ 'event.registrationUndefined' | translate }}</div>
				</div>
			</div>
		</div>

		<!-- DIVISIONS -->
		<div ng-if="event.x.divisions.length > 0" class="row margin-top">
			<div class="col-md-12">
				<div class="strong">{{ 'event.teamList.title' | translate }}</div>

				<div class="panel-group margin-top-small" ng-model="panels.divisionPanel" role="tablist" aria-multiselectable="true" bs-collapse>

					<div class="panel panel-ultical" ng-repeat="division in event.x.divisions | orderBy : divisionOrder">
						<div class="panel-heading cursor-pointer" role="tab">
							<h3 class="panel-title" bs-collapse-toggle>
								<span>{{ division | division }}</span>
								<span ng-if="!division.registrationComplete && division.numberSpots != 0" class="panel-title-addon">&nbsp;&nbsp;&nbsp;{{ division.numberSpots }} {{ 'event.spotsAvailable' | translate }}</span><span class="panel-title-addon" ng-if="!division.registrationComplete && division.playingTeams.length > 0"> - {{ division.playingTeams.length }} {{ 'event.spotsApplied' | translate }}</span>
								<span ng-if="division.registrationComplete" class="panel-title-addon">&nbsp;&nbsp;&nbsp;{{ division.numTeamsConfirmed }} {{ 'general.teams' | translate }} &nbsp;</span>
							</h3>
						</div>

						<div class="panel-collapse" role="tabpanel" bs-collapse-target>
							<div class="panel-body">

								<!-- Team List -->
								<div class="row">
									<div class="col-md-12">

										<div class="panel-group" ng-model="panels.teamPanel" role="tablist" aria-multiselectable="true" bs-collapse>

											<!-- no teams yet -->
											<div ng-if="division.playingTeams.length == 0">
												<span>{{ 'event.teamList.noTeams' | translate }}</span>
											</div>

											<!-- team list -->
											<!-- Controlts for sorting result listing -->
											<div ng-if="event.x.timing != 'future' && hasStandings[division.id]" class="margin-bottom-small">

												<div ng-if="latestEvents[division.id].id != event.id" class="margin-bottom-small">
													{{ 'event.teamList.standingExplanation' | translate : { eventName : (latestEvents[division.id] | eventname) } }}
												</div>

												<!-- Sort keys to choose from-->
												<div class="btn-group width100">
									        <label class="btn btn-default sort-button" data-title="{{ 'event.teamList.sortByResultTooltip' | translate }}" bs-tooltip ng-model="teamListOrder.text" uib-btn-radio="'standing'">{{ 'event.teamList.sortByResult' | translate }}<i ng-class="{invisible: teamListOrder.text != 'standing'}" class="fa fa-sort-desc sort-icon"></i></label>
									        <label ng-if="hasSpiritScores[division.id]" class="btn btn-default sort-button" data-title="{{ 'event.teamList.sortBySpiritTooltip' | translate }}" bs-tooltip ng-model="teamListOrder.text" uib-btn-radio="'spirit'">{{ 'event.teamList.sortBySpirit' | translate }}<i ng-class="{invisible: teamListOrder.text != 'spirit'}" class="fa fa-sort-desc sort-icon"></i></label>
													<label device-detector class="btn btn-default sort-button sort-button-last" data-title="{{ 'event.teamList.sortByNameTooltip' | translate }}" bs-tooltip ng-model="teamListOrder.text" uib-btn-radio="'name'">{{ 'event.teamList.sortByName' | translate }}<i ng-class="{invisible: teamListOrder.text != 'name'}" class="fa fa-sort-desc sort-icon"></i></label>
    										</div>
											</div>

											<div ng-init="rosterPlayers = getRelevantPlayers(regTeam, division, event.tournamentEdition.season, event)" ng-repeat-start="regTeam in division.playingTeams | filter : teamFilter | orderBy : teamOrder : teamOrderReverse track by regTeam.id">

												<div class="row margin-bottom-small" ng-class="{'margin-top': !$first}" ng-if="event.x.timing == 'future' && needTeamHeading($index, division.id, regTeam.status)">
													<div class="col-md-6 strong">{{ ('event.teamList.' + (regTeam.status | lowercase)) | translate }}</div>
													<div class="col-md-6" ng-if="regTeam.status == 'CONFIRMED' && event.x.own" ng-click="print()">
														<a href="#" class="pull-right">{{ 'event.teamList.printPlayerList' | translate }}</a>
													</div>
												</div>
											</div>

											<div class="panel panel-ultical2" ng-class="{'panel-margin': !$first}" ng-repeat-end>

												<div class="panel-heading cursor-pointer" role="tab">
													<h3 class="panel-title" bs-collapse-toggle>
														<div ng-if="hasStandings[division.id]" class="pull-left margin-right-small">
															<div class="team-list-standing pull-left">
																<span class="label-as-badge label label-primary label-ultical" data-title="{{ 'event.teamList.standing' | translate }}" bs-tooltip>{{ regTeam.standing }}</span>
															</div>
															<div class="pull-right spirit-score-label" ng-class="{'has-own-spirit': hasOwnSpiritScores[division.id]}" ng-if="hasSpiritScores[division.id]">
																<div ng-class="{satrong: hasOwnSpiritScores[division.id]}" data-title="{{ 'event.teamList.spiritScore' | translate }}" bs-tooltip>{{ regTeam.spiritScore | decimal : 1 | pad : 4 : '&nbsp;' }}</div>
																<div ng-if="hasOwnSpiritScores[division.id]" data-placement="bottom" data-title="{{ 'event.teamList.ownSpiritScore' | translate }}" bs-tooltip><em class="own-spirit-score-label">{{ ('(' + (regTeam.ownSpiritScore | decimal : 1)  + ')') | pad : 6 : '&nbsp;' }}</em></div>
															</div>
														</div>
														<span>{{ regTeam.roster.team.name }} {{ regTeam.roster.nameAddition }}</span>
														<span ng-if="loggedIn()" class="panel-title-addon">&nbsp;&nbsp;({{ rosterPlayers.length }}&nbsp;{{ 'general.players' | translate }})</span>

														<!-- 													<div ng-if="team.x.own" ng-click="editRoster(roster, team, $index)" class="ffade team-actions cursor-pointer" data-title="{{ 'team.roster.editTooltip' | translate }}" bs-tooltip> -->
														<!-- 														<i class="fa fa-pencil"></i> -->
														<!-- 													</div> -->
													</h3>
												</div>

												<div class="panel-collapse" role="tabpanel" bs-collapse-target>
													<div class="panel-body">

														<div class="row margin-bottom-small" ng-if="regTeam.team.location.city | notEmpty">
															<div class="col-md-12">
																<i class="fa fa-map-marker fa-fw"></i> {{ regTeam.team.location | location }}
															</div>
														</div>

														<div class="row">
															<div class="col-md-12">
																<div class="margin-bottom-small">
																	<i class="fa fa-list fa-fw"></i>
																	<span ng-if="event.x.timing != 'future'">{{ 'event.rosterFixed' | translate }}</span>
																	<span ng-if="event.x.timing == 'future'">{{ 'event.rosterNotFixed' | translate }}</span>
																	<span ng-if="event.x.timing == 'future' && event.x.own">({{ 'event.rosterEditOnTeamPage' | translate }})</span>
																</div>
																<div class="margin-left-small" ng-if="rosterPlayers.length > 0 && loggedIn()">
																	<div ng-repeat="rosterPlayer in rosterPlayers | orderBy : 'player.lastName'">{{ rosterPlayer.player | playername : true }}</div>
																</div>
																<div ng-if="loggedIn() && rosterPlayers.length == 0">{{ 'team.roster.empty' | translate }}</div>
																<div ng-if="!loggedIn()">{{ 'team.roster.notLoggedIn' | translate }}</div>
															</div>
														</div>

													</div>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="print-all" ng-if="event.x.own" ng-click="doPrintAll()">
					<a href="#" class="pull-right">{{ 'event.teamList.printAllPlayerLists' | translate }}</a>
				</div>
			</div>
		</div>

	</div>
</div>
</div>

	<!-- PRINTING TEMPLATE -->
	<div class="print-size visible-print-block" ng-if="loggedIn() && event.x.own && printing">
		<div class="row padding-bottom" ng-class="{'hidden-print': !printAll && panels.divisionPanel != $index, 'border-bottom': printAll}" ng-repeat="division in event.x.divisions | orderBy : divisionOrder">

			<div class="col-xs-12">
				<div class="row" ng-if="$first || !printAll">
					<div class="col-xs-12 strong print-heading">{{ event | eventname}}</div>
				</div>
				<div class="row" ng-if="$first || !printAll">
					<div class="col-xs-12 print-heading">{{ event.startDate | amDateFormat : ('general.amDateFromSameMonth' | translate) }} - {{ event.endDate | amDateFormat : ('general.amDateToFull' | translate) }}</div>
				</div>
				<div class="row" ng-if="$first || !printAll">
					<div class="col-xs-12">
						<div ng-if="event.x.timing != 'future'">
							<span>{{ 'event.printRosterFixed' | translate }}</span>
							<span class="margin-left-small">({{ event.startDate | amDateFormat : ('general.amDatetimeFormat' | translate ) }})</span>
						</div>
						<div ng-if="event.x.timing == 'future'">
							<span> {{ 'event.printRosterNotFixed' | translate }}</span>
							<span class="margin-left-small">({{ now | amDateFormat : ('general.amDatetimeFormat' | translate) }})</span>
						</div>

					</div>
				</div>
				<div class="row margin-bottom-big margin-top">
					<div class="col-xs-12 print-heading">{{ division | division}}</div>
				</div>

				<div class="row" ng-init="innerIndex = $index" ng-class="{'margin-top':!$first}" ng-repeat-start="regTeam in division.playingTeams | filter : {status: 'CONFIRMED'} | orderBy : teamOrder track by regTeam.id">
					<div class="col-xs-4">
						<span class="strong print-heading">{{ regTeam.roster.team.name }}</span>
					</div>
					<div class="col-xs-5">
						<span class="margin-top-small pull-left">{{ 'general.club' | translate }}</span>
					</div>
					<div class="col-xs-3">
						<span class="pull-right margin-top-small">{{ 'event.datePlayerAdded' | translate }}</span>
					</div>
				</div>

				<div class="row" ng-class="{'margin-bottom-huge': $last, highlight: $index % 2 == 1}" ng-repeat="rosterPlayer in getRelevantPlayers(regTeam, division, event.tournamentEdition.season, event) | orderBy : 'player.lastName'">
					<div ng-if="$index % 5 == 0" class="col-xs-12 border-bottom-light"></div>
					<div class="col-xs-4 hard-limit">{{ rosterPlayer.player | playername : true }}</div>
					<div class="col-xs-6 hard-limit">{{ rosterPlayer.player.club.name }}</div>
					<div class="col-xs-2">
						<span class="pull-right"> {{ rosterPlayer.dateAdded | amDateFormat : ('general.amDateFormat' | translate) }}</span>
					</div>
				</div>

				<div class="row padding-top-huge margin-top-big" ng-repeat-end>
					<div class="col-xs-12 border-bottom"></div>
				</div>
			</div>
		</div>
	</div>
</div>
