.rotate-ani.ng-enter, .rotate-ani.ng-leave {
	-webkit-transition: 1550ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
	-moz-transition: 1550ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
	-ms-transition: 1550ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
	-o-transition: 1550ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
	transition: 1550ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
	position: relative;
	display: block;
}

.rotate-ani.ng-leave.ng-leave-active, .rotate-ani.ng-enter {
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-ms-transform: rotateX(-90deg);
	-o-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	opacity: 0;
}

.rotate-ani.ng-enter.ng-enter-active, .rotate-ani.ng-leave {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	opacity: 1;
}

/* fade animation */
.fade-ani {
	-webkit-transition: 500ms linear all;
	transition: 500ms linear all;
}

.fade-ani.ng-enter, .fade-ani.ng-leave.ng-leave-active {
	opacity: 0;
}

.fade-ani.ng-enter, .fade-ani.ng-leave {
	opacity: 1;
}

/* fade appearance hide/show/class */
.fade {
	-webkit-transition: all 400ms ease-in-out, height 100ms;
	transition: all 400ms ease-in-out, height 100ms;
	opacity: 1;
}

.fade.ng-hide {
	opacity: 0;
}

/* collapsible animation */
.collapse.am-collapse {
	animation-duration: .3s;
	animation-timing-function: ease;
	animation-fill-mode: backwards;
	overflow: hidden;
}

.collapse.am-collapse.in-remove {
	animation-name: collapse;
	display: block;
}

.collapse.am-collapse.in-add {
	animation-name: expand;
}
