.view-container {
	margin-top: -5px;
	margin-bottom: 40px;
	min-width: 1000px;
}

#pageAlertSpace {
	margin-top: 60px;
}

.navbar {
	background-color: white;
	color: #666666;
}

.navbar .navbar-header {
	color: #333333;
	margin-right: 20px;
}

.navbar h3 {
	margin-top: 10px;
	font-weight: 700;
}

#navbar-language-icon {
	float: left;
	font-size: 25px;
	margin-top: 6px;
	margin-left: 20px;
}

#navbar-language-code {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 20px;
	margin-left: 3px;
}

.navbar-button {
	cursor: pointer;
}

.navbar-button:hover {
	background-color: #C2DAF3;
}

.navbar-button:hover .navbar-text {
	color: #000000;
}

.navbar-button-strong {
	background-color: #D9EDF7;
/* 	#DBEBFB; */
}

.navbar-button-strong:hover {
	background-color: #C2DAF3;
}

.navbar-language {
	cursor: pointer;
}

.navbar-language:hover #navbar-language-icon, .navbar-language:hover #navbar-language-code
{
	color: #000000;
}

.navbar-right ul.dropdown-menu {
	width: 120px;
	padding: 0 0 5px 0;
}

#login-popover {
	background-color: #D9EDF7;
}
#login-popover.login-error {
	background-color: #E49B9B;
}

#login-popover input {
	width: 100%;
}

#login-popover-content {
	width: 250px;
}

#login-popover-content .error-text {
	color: white;
}