<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeHandlers>
		<typeHandler handler="de.ultical.backend.data.mapper.LocalDateTypeHandler" javaType="java.time.LocalDate"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
		<environment id="inmemory-test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.apache.derby.jdbc.EmbeddedDriver" />
				<property name="url" value="jdbc:derby:memory:test;create=true" />
				<property name="username" value="APP" />
				<property name="password" value="APP" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="de.ultical.backend.data.mapper.DfvPlayerMapper" />
		<mapper class="de.ultical.backend.data.mapper.UserMapper" />
		<mapper class="de.ultical.backend.data.mapper.UnregisteredPlayerMapper" />
	</mappers>
</configuration>
