<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright (C) 2015-2016 ultical contributors

    This program is free software; you can redistribute it and/or modify it under
    the terms of the GNU Affero General Public License as published by the Free
    Software Foundation, either version 3 of the License, or (at your option) any
    later version.

    If the program is linked with libraries which are licensed under one of the
    following licenses, the combination of the program with the linked library is
    not considered a "derivative work" of the program:

    * Apache License, version 2.0
    * Apache Software License, version 1.0
    * Mozilla Public License, versions 1.0, 1.1 and 2.0
    * Common Development and Distribution License (CDDL), version 1.0

    Therefore the distribution of the program linked with libraries licensed under
    the aforementioned licenses, is permitted by the copyright holders if the
    distribution is compliant with both the GNU Affero General Public License
    version 3 and the aforementioned licenses.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY
    WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
    PARTICULAR PURPOSE. See the  GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License along
    with this program. If not, see <http://www.gnu.org/licenses/>.

-->
	<!DOCTYPE configuration
	  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeHandlers>
		<typeHandler handler="de.ultical.backend.data.mapper.LocalDateTypeHandler" javaType="java.time.LocalDate"/>
		<typeHandler handler="de.ultical.backend.data.mapper.LocalDateTimeHandler" javaType="java.time.LocalDateTime"/>
	</typeHandlers>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="poolMaximumActiveConnections" value="${jdbc.maxConnections}" />
			</dataSource>
		</environment>
		<environment id="production">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
				<property name="poolMaximumActiveConnections" value="${jdbc.maxConnections}" />
			</dataSource>
		</environment>
		<environment id="inmemory-test">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.apache.derby.jdbc.EmbeddedDriver" />
				<property name="url" value="jdbc:derby:memory:test;create=true" />
				<property name="username" value="APP" />
				<property name="password" value="APP" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="de.ultical.backend.data.mapper.DfvPlayerMapper" />
		<mapper class="de.ultical.backend.data.mapper.UserMapper" />
		<mapper class="de.ultical.backend.data.mapper.PlayerMapper" />
		<mapper class="de.ultical.backend.data.mapper.UnregisteredPlayerMapper" />
		<mapper class="de.ultical.backend.data.mapper.SeasonMapper" />
		<mapper class="de.ultical.backend.data.mapper.TournamentFormatMapper" />
		<mapper class="de.ultical.backend.data.mapper.EventMapper" />
		<mapper class="de.ultical.backend.data.mapper.LocationMapper" />
		<mapper class="de.ultical.backend.data.mapper.TournamentEditionMapper" />
		<mapper class="de.ultical.backend.data.mapper.DivisionRegistrationMapper" />
		<mapper class="de.ultical.backend.data.mapper.TeamMapper" />
		<mapper class="de.ultical.backend.data.mapper.TeamRegistrationMapper" />
		<mapper class="de.ultical.backend.data.mapper.DfvMvNameMapper" />
		<mapper class="de.ultical.backend.data.mapper.RosterMapper" />
		<mapper class="de.ultical.backend.data.mapper.MailCodeMapper" />
		<mapper class="de.ultical.backend.data.mapper.ContactMapper" />
		<mapper class="de.ultical.backend.data.mapper.FeeMapper" />
		<mapper class="de.ultical.backend.data.mapper.ClubMapper" />
		<mapper class="de.ultical.backend.data.mapper.RosterPlayerMapper" />
		<mapper class="de.ultical.backend.data.mapper.AssociationMapper" />
		<mapper class="de.ultical.backend.data.mapper.DivisionConfirmationMapper" />
		<mapper class="de.ultical.backend.data.mapper.ContextMapper" />
		<mapper class="de.ultical.backend.data.mapper.ResourceMapper" />
	</mappers>
</configuration>
