<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">{{ title | translate }}</h4>
      </div>

      <div ng-if="isActionAside" class="aside-body action-aside" ng-include="'components/actionbar/bas_actionbar.html'"></div>
      <div ng-if="isMenuAside" class="aside-body menu-aside-body" ng-include="'navbar/menu.html'"></div>

      <!-- <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{ 'general.close' | translate }}</button>
      </div> -->
    </div>
  </div>
</div>
