<div class="navbar navbar-default navbar-fixed-top hidden-print" role="banner" bs-navbar ng-cloak>
	<div class="container">

		<div class="navbar-header">

			<button id="navbar-actions" type="button" class="navbar-toggle" ng-click="openMenuAside()">
				<div class="shared-icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>

				<span>{{ 'nav.menuLabel' | translate }}</span>
			</button>

			<button id="navbar-actions" type="button" class="navbar-toggle" ng-click="openActionAside()">
				<div class="shared-icon-bar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</div>

				<span>{{ 'nav.actionsLabel' | translate }}</span>
			</button>

			<a href="start"> <!-- href is just a random string in order for the catch-all to work -->
				<flip id="nav-logo" flip-show="{{ logoSide }}" ng-mouseenter="toggleLogoFlip()" ng-mouseleave="toggleLogoFlip()"> <flip-panel> <img id="image-dfv-small" title="{{ 'nav.title' | translate }}" src="images/logo_dfv_small.png" /> </flip-panel> <flip-panel>
				<div>{{ 'nav.titleFlipText' | translate }}</div>
				</flip-panel> </flip>
			</a>
		</div>

		<div id="navbar-buttons" class="hidden-xs navbar-body" ng-include="'navbar/menu.html'"></div>

	</div>
</div>
